<div class="col-md-8">
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>Player</th>
      <th>Team</th>
      <th>Delete</th>
      <th>Edit</th>
    </thead>
    <tr *ngFor="let player of players; let i = index">
      <td>{{i + 1}}.</td>
      <td><span class="clickable-cell">{{player.firstName}}&nbsp;&nbsp;{{player.lastName}}</span></td>
      <td><span class="clickable-cell">{{player.realTeam.name}}</span></td>
      <td>
        <span (click)="getConfirmationModalData(player)" class="clickable-cell">
          <i class="fas fa-trash"></i>
        </span>
      </td>
      <td>
        <span (click)="editPlayer(player)" class="clickable-cell">
          <i class="fas fa-pencil-alt"></i>
        </span>
      </td>
    </tr>
  </table>
</div>