.btn-common {
	color: white;
	background-color: #166bff;
	border: 1px solid #166bff;
	border-radius: .25rem; 
	-webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-common[disabled] {
	opacity: 0.5
}

.btn-common:hover:enabled{
	background-color: #06209b;
}

.btn-common:active,
.btn-common:focus,
.btn-common.active {
  outline: 0 !important;
}

.btn-sm {
	padding: 3px 7px 3px 7px;
	font-size: 13px;
}

.btn-lg {
	padding: 6px 9px 6px 9px;
	font-size: 16px;
}

/* .btn-xlg {
	padding: 7px 20px 7px 20px;
	font-size: 22px;
} */