/* You can add global styles to this file, and also import other style files */

@import "./css/buttons.css";
@import "./css/inputs.css";
@import "./css/table.css";

.spacer15{
	height: 15px;
}
.spacer25 {
  height: 25px;    
}
.spacer50 {
  height: 50px;    
}
.spacer75 {
  height: 75px;    
}
.spacer100 {
	height: 100px;
}

.valid {
	border: 1px solid #28a745 !important;
}

.invalid {
	border: 1px solid #dc3545 !important
}

form{
	background-color: #f8f9fa;
	padding: 20px;
}