.custom-control-input:checked~.custom-control-label::before {
  color: #fff !important;
  border-color: #007bff !important;
  background-color: #007bff !important;
}

.new-group-form {
	display: inline-block;
	width: 100%;
}

.group-container {
  display: inline-block;
  /* border: 1px solid #007bff; */
}

.group-name {
  font-size: 20px;
  background-color: #007bff;
  font-style: italic;
  text-align: center;
  padding: 5px 0px;
  color: #fff;
}