.new-group-form {
	display: inline-block;
	width: 100%;
}

.group-container {
  display: inline-block;
  /* border: 1px solid #007bff; */
}

.group-name {
  font-size: 20px;
  background-color: #166bff;
  font-style: italic;
  text-align: center;
  padding: 5px 0px;
  color: #fff;
}